<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<link rel="stylesheet" href="../../asserts/3rd/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../../asserts/3rd/bootstrap-table/bootstrap-table.css">
<link rel="stylesheet" href="../../asserts/3rd/bootstrap-editable/bootstrap3-editable/css/bootstrap-editable.css">
</head>
<body>
<div style="padding:20px;">
    <p class="toolbar">
        <a id="add_item" class="create btn btn-primary">新建</a>
    </p>
    <table id="item_table"
           data-show-refresh="true"
           data-show-columns="true"
           data-search="true"
           data-query-params="queryParams"
           data-toolbar=".toolbar">
        <thead>
        <tr>
            <th data-field="action"
                data-align="center"
                data-formatter="actionFormatter"
                data-events="actionEvents"
                data-width="75px">  [ 操作 ]  </th>
            <th data-field="cate"  >类别</th>
            <th data-field="name"  >品名</th>
            <th data-field="model"  >型号</th>
            <th data-field="buyer"  >采购人</th>
            <th data-field="num"  >数量</th>
            <th data-field="unitprice"  >单价</th>
            <th data-field="totalprice"  >总价</th>
            <th data-field="freight"  >运费</th>
            <th data-field="placedate"  >下单日期</th>
            <th data-field="requireddate"  >需用日期</th>
            <th data-field="supplier"  >供应商简称</th>
            <th data-field="orderdate"  >订货日期</th>
            <th data-field="predictdeliverydate"  >预计发货日期</th>
            <th data-field="actualdeliverydate"  >实际发货日</th>
            <th data-field="appointmentarrivaldate"  >预计到货日</th>
            <th data-field="godowndate"  >入库日期</th>
            <th data-field="changelog"  >变更情况</th>
            <th data-field="mark"  >备注</th>
        </tr>
        </thead>
    </table>
</div>
<script src="../../asserts/3rd/jquery/jquery.js"></script>
<script src="../../asserts/3rd/bootstrap/js/bootstrap.min.js"></script>
<script src="../../asserts/3rd/bootstrap-table/bootstrap-table.js"></script>
<script src="../../asserts/3rd/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="../../asserts/3rd/bootstrap-table/extensions/editable/bootstrap-table-editable.js"></script>
<script src="../../asserts/3rd/bootstrap-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script>
    var $table = $("#item_table")
    $(function(){
        $table.bootstrapTable({url:"\/item\/list\/purchase?creater=curuser", method:"post", sidePagination:"server", pagination:true, height:getHeight()});
        $("#add_item").on("click", function(){

            top.showTopModal({url:"\/ui\/add\/purchase", refreshContent:refreshContent});
        })
        $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });
    });
    function refreshContent(options){
        top.hideTopModal()
        $table.bootstrapTable("refresh")

    }
    function queryParams(params){
        return params
    }
    function actionFormatter(value) {
        return [
            '<a class="update" href="javascript:" title="修改" style="margin-right: 5px;"><i class="glyphicon glyphicon-edit"></i></a>',

            '<a class="upload" href="javascript:" title="上传附件"><i class="glyphicon glyphicon-upload"></i></a>',
        ].join('');
    }
    window.actionEvents = {
        'click .update': function (e, value, row) {
            console.log("value", value, row)
            top.showTopModal({url:"\/ui\/update\/purchase?sn=" + row.sn, refreshContent:refreshContent});
        },
        'click .remove': function (e, value, row) {
            if (confirm('你确定要删除本行吗?')) {
                $.ajax({
                    url: API_URL + row.id,
                    type: 'delete',
                    success: function () {
                        $table.bootstrapTable('refresh');
                        showAlert('Delete item successful!', 'success');
                    },
                    error: function () {
                        showAlert('Delete item error!', 'danger');
                    }
                })
            }
        }
    }
    function getHeight() {
        return $(window).height()-50;
    }
</script>
</body>
</html>